@import url('./shared.css');

#first-flow-item-block {
  --calcite-block-padding: 0px;
}

.home-link {
  text-decoration: none;
}

.title {
  display: flex;
  justify-content: center;
}

.title > h1 {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
