.app {

}

.header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border-bottom: 1px solid lightgray;
}

.examples {
  padding: 0 2rem;
}

.sliders {
  padding: 2rem 0rem;
}

.value {
  font-weight: 600;
  color: #007AC2;
}
